.user-container {
  background-color: #fff; height: calc(95vh);
  margin: 5% 35%;
}

.todo-container {
  background-color: #fff; height: calc(95vh);
  margin: 5% 18%;
}
.todo-card {
  width: 55rem;
  height: 7rem;
}
